/* Formulário */
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  font-size: 14px;
}.container__texts{
text-align: center;
}
h2{
  margin-top: 10px;
  font-weight: 800;
  font-size: 24px;
  color: #12036E ;
}
p{
  font-weight: 400;
  font-size: 20px;
  color: #12036E ;
}

/* Labels */
label {
  margin-bottom: 5px;
  font-weight: 600;
}

/* Inputs e Textareas */
input, textarea {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  margin-bottom: 15px;
  border-radius: 15px; /* Aumenta o arredondamento */
  border: 1px solid #ccc;
  transition: border-color 0.3s ease; /* Transição suave para a cor da borda */
}

input:focus, textarea:focus {
  outline: none;
  border-color: #8c3a60; /* Cor da borda ao focar */
}

/* Efeitos de hover para os inputs */
input:hover, textarea:hover {
  border-color: #b4b4b4; /* Cor ligeiramente mais clara ao passar o mouse */
}

/* Container dos Botões */
.buttons-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

/* Botões */
button {
  font-size: 16px;
  font-weight: 600;
  width: 240px;
  height: 40px;
  border: 2px solid #fff; /* Borda inicial branca */
  border-radius: 10px;
  background-color: #fff;
  color: #8c3a60; /* Cor da letra padrão */
  transition: all 0.4s ease;
  animation: borderColorAnimation 0.4s forwards; /* Animação da borda */
}

button:disabled {
  background-color: #fff;
  color: #000000;
  border: none;
}

button:enabled {
  cursor: pointer;
  color: #8c3a60; /* Mantém a cor da letra ao habilitar */
}

button:enabled:hover {
  background-color: #8c3a60;
  color: #fff; /* Cor da letra muda para branco no hover */
}

/* Animação da borda */
@keyframes borderColorAnimation {
  from {
    border-color: #fff; /* Começa com borda branca */
  }
  to {
    border-color: #8c3a60; /* Termina com borda na cor desejada */
  }
}

/* Logo */
.logo {
  display: block;
  margin: 0 auto 40px auto; /* Margem inferior maior para espaçamento */
}
.form-group {
  position: relative; /* Necessário para o posicionamento do ícone */
}

.form-group::before {
  /* Ícone que será exibido */
  position: absolute;
  left: 10px; /* Posição do ícone */
  top: 50%;
  transform: translateY(-50%); /* Centraliza verticalmente */
  pointer-events: none; /* O ícone não deve interferir na interação */
}

.form-group select.ng-invalid {
  border-color: red; /* Borda vermelha para erro */
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); /* Sombra de erro */
}

.form-group select.ng-valid {
  border-color: green; /* Borda verde para sucesso */
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.5); /* Sombra de sucesso */
}

/* Estilo base para o select */
.form-group select {
   content: "🔽";
  width: 100%; /* Para que o select ocupe toda a largura do container */
  padding: 10px; /* Espaçamento interno */
  border: 2px solid #ccc; /* Borda padrão */
  border-radius: 5px; /* Cantos arredondados */
  font-size: 16px; /* Tamanho da fonte */
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transição suave para as alterações */
  outline: none; /* Remove a borda de foco padrão */
  background: linear-gradient(to right, #f0f4f8, #d9e3ec); /* Gradiente suave */
  color: #333; /* Cor do texto */
  transition: background-color 0.3s ease, color 0.3s ease; 
  padding-left: 30px;
  max-width: 100%; /* Largura máxima para telas menores */
  box-sizing: border-box; /* Inclui padding e border na largura total */
}

/* Estilo no hover */
.form-group select:hover {
  border-color: #007bff; /* Cor da borda no hover */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra suave */
  background: linear-gradient(to right, #d9e3ec, #f0f4f8);
  color: #007bff;
}

/* Estilo quando o select é focado */
.form-group select:focus {
  border-color: #007bff; /* Cor da borda quando focado */
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Sombra mais intensa */
}

/* Estilo para opções */
.form-group select option {
  padding: 10px; /* Espaçamento interno das opções */
}
/* Estilo para o placeholder */
.form-group select option[disabled] {
  display: none; /* Esconde a opção placeholder */
}

/* Estilo do placeholder */
.form-group select::after {
  content: "Selecione uma opção";
  color: #999; /* Cor do placeholder */

}.alert {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 12px;
  color: #fff;
  font-weight: normal;
}

.alert-success {
  background-color: #91de94; /* Verde */
}

.alert-warning {
  background-color: #fde7a3; /* Amarelo */
}

.alert-danger {
  background-color: #f0756d; /* Vermelho */
}
.input-file {
  display: none; /* Oculta o input */
}

.label-file {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.label-file:hover {
  background-color: #0056b3; /* Cor ao passar o mouse */
}

.preview-image {
  max-width: 100px;
  max-height: 100px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


