:root {
    --cor-principal: #333;
    --fonte-principal: Arial, sans-serif;
  }
  

header{
    width: 100%;
    height: 70px;
    background-image: linear-gradient(to right, #DAD4FF, rgba(249,139,159,0.7));
    
}.container__logo{
    
   justify-content: space-around;

}.top__logo{
    width: 250px;
    height: 40px;
    margin:10px 0 0 20px ;
    float: left;
    
}.container__btn__action{
   
    width: 30%;
    height: 100%;
    margin:0px 5px 0 0 ;
    float: right;
}.container__btn__action button{
    float : right;
    width: 140px;
    height: 40px;
    border: solid 1px #8c3a60;
    border-radius: 15px;
    font-size: 24px;
    color: #12036E;
    background-color: #fff;
    margin: 0 40px;


}