<header>
  <div class="container__logo">
    <a href="">
      <img class="top__logo" src="../../../assets/blue logo.svg" alt="Logo">
    </a>
  </div>

  <div class="container__btn__action">
    <ng-container *ngIf="isAuthenticated; else showLogin">
      <!-- Botão com a foto de perfil -->
      <button class="profile-btn" (click)="toggleProfileMenu()">
        <img *ngIf="userProfile?.images?.length" [src]="userProfile.images[0]" alt="Foto de perfil">
      </button>

      <div *ngIf="profileMenuOpen" class="profile-menu">
        <div class="profile-info">
          <img *ngIf="userProfile?.images?.length" [src]="userProfile.images[0]" alt="Foto de perfil">
          <p>{{ userProfile?.name }}</p>
          <p>{{ userProfile?.email }}</p>
          <p>{{ "@" + userProfile?.user_tag }}</p>
        </div>
        <!-- Botão para ver e editar perfil -->
        <button (click)="navigateToProfile()">Ver e Editar Perfil</button>
        <button (click)="goToMessages()">Ver Mensagens</button>
        <button (click)="logout()">Logout</button>
      </div>

      <!-- Botão para ver mensagens -->
      <button class="message-btn" (click)="goToMessages()"></button>

      <!-- Botão do menu -->
      <button class="menu-btn" (click)="toggleNavbar()"></button>
      <div *ngIf="navbarOpen" class="navbar">
        <ul>
          <li (click)="logout()">Logout</li>
        </ul>
      </div>
    </ng-container>

    <ng-template #showLogin>
      <button (click)="navigateToLogin()">Entrar</button>
    </ng-template>
  </div>
</header>