<div class="match-overlay">
    <div class="match-container">
      <div class="profile profile-left">👤</div>
      <div class="profile profile-right">👤</div>
      <div class="username profile-left-username">{{ user1 || 'Usuário 1' }}</div>
      <div class="username profile-right-username">{{ user2 || 'Usuário 2' }}</div>
      <div class="heart">❤️</div>
      <div class="spark-container" id="sparkContainer"></div>
      <div id="matchText" class="fade-in">Deu Match!</div>
    </div>
  </div>