<div class="chat-page">
  <div class="chat-sidebar">
    <div
    class="contact-item"
    *ngFor="let contact of contacts"
    (click)="onSelectChatRoom(contact.id)"
    [class.active]="selectedChatRoom?.id === contact.id"
  >
    <p class="contact-name">{{ contact.name }}</p>
    <p class="last-message">{{ contact.lastMessage }}</p>
  </div>
  </div>

  <div class="chat-main">
    <app-chat-room 
      *ngIf="selectedChatRoom" 
      [chatRoom]="selectedChatRoom" 
      [messages]="messages" 
      (sendMessage)="onSendMessage($event)">
    </app-chat-room>
    <div class="empty-chat" *ngIf="!selectedChatRoom">
      <p>Selecione uma conversa para começar a interagir.</p>
    </div>
  </div>
</div>
