<!-- Seção Principal -->
<div class="perfil-container">
    <div class="perfil-left">
      <img class="perfil-image" [src]="personCarregado.images[0]" alt="{{personCarregado.name}}">
      <p class="perfil-name">{{personCarregado.name}}</p>
      <p class="perfil-nickname">{{ "@" + personCarregado.user_tag }}</p>
    </div>
    <div class="perfil-right">
      <p><strong>Sexual Orientetion:</strong> {{personCarregado.sexual_orientation}}</p>
      <p><strong>Idade:</strong> {{calculateAge(personCarregado.birth_date)}}</p>
      <p><strong>Identificação:</strong> {{personCarregado.gender_identity}}</p>
      <p><strong>Interesse:</strong> {{personCarregado.relationship_types}}</p>
      <p><strong>Hobbies:</strong> {{personCarregado.interest}}</p>
      <p><strong>Cidade:</strong> {{locationCarregado.city}}</p>
      <p><strong>Estado:</strong> {{locationCarregado.state}}</p>
      
      <div class="actions">
        <button class="like" (click)="like()">Like</button>
        <button class="dislike" (click)="dislike()">Dislike</button>
        <button class="send-message" (click)="sendMessage()">Mandar mensagem</button>
      </div>
    </div>
  </div>
  
  <!-- Nova Seção -->
  <div class="additional-section">
    <div class="interests-container">
      <h2>Interesses</h2>
      <p>{{personCarregado.specific_interests}}</p>
    </div>
    <div class="gallery-container">
      <h2>Galeria</h2>
      <div class="gallery-grid">
        <img *ngFor="let img of getGalleryImages()" [src]="img" (click)="openPopup(img)" alt="Galeria">
      </div>
    </div>
  </div>
  
  <!-- Seção Principal e Nova Seção continuam iguais -->

<!-- Popup para exibir imagem -->
<div class="popup" *ngIf="selectedImage">
  <img [src]="selectedImage" alt="Imagem em destaque">
  <button class="close-popup" (click)="closePopup()">Fechar</button>
</div>

  