<section class="container">
  <div class="main__container">
    <div class="content__left">
      <div class="carousel">
        <img [src]="currentImage" alt="Profile picture">
        <button class="prev" (click)="prevImage()"></button>
        <button class="next" (click)="nextImage()"></button>
      </div>
    </div>
    <div class="content__right">
      <div class="header">
        <h1>{{ currentPerson?.name }} {{ calculateAge(currentPerson?.birth_date) }}  <p>{{currentPerson?.pronouns}}</p></h1>
      </div>
      <div class="profile-info">
        <div class="badges">
          <span class="badge">{{ currentPerson?.sexual_orientation}}</span>
          <span class="badge">{{ currentPerson?.gender_identity}}</span>
          <span class="badge">{{ currentPerson?.relationship_types}}</span>
          <span class="badge">{{ currentPerson?.profession}}</span>
          <span class="badge" *ngFor="let interest of currentPerson?.interest">
            {{ interest }}
          </span>
          <span class="badge"> Interesse em pessoas de {{ currentPerson?.min_age_interest}} a {{currentPerson?.max_age_interest}} anos </span>
        </div>
      </div>
      <div class="actions">
        <button class="like" (click)="like()"></button>
        <button class="dislike" (click)="dislike()"></button>
        <button (click)="navigateToProfile(users[currentIndex].id )" class="view-profile"></button>
        <button class="send-message"></button>
      </div>
    </div>
  </div>
  <app-match-animation *ngIf="showMatchAnimation" [user1]="currentPerson?.name" [user2]="currentPerson?.name"></app-match-animation>
</section>