<!-- Condicional para verificar se é a seção principal -->
<div *ngIf="isPrimary" class="primary-section">
  <div class="container__sec__left">
    <h1>{{ sectionTitle }}</h1>

    <div class="container__paragraph">
      <p>{{ sectionText1 }}</p>
      <p>{{ sectionText2 }}</p>
    </div>

    <div class="buttons">
      <button (click)="onLoginButtonClick()">{{ buttonText1 }}</button>
      <p>ou</p>
      <button>{{ buttonText2 }}</button>
    </div>

    <p class="terms">
      Ao se registrar, você concorda com nossos
      <a href="#">Termos & Condições</a>.
      Saiba como usamos seus dados em nossa
      <a href="#">Política de Privacidade</a>.
    </p>
  </div>
  <div class="container__sec__right">
    <img [src]="imageSrc" alt="Icons" class="icons">
  </div>
</div>

<div *ngIf="!isPrimary" class="secondary-section">
  <img [src]="imageSrcSecondary" alt="Secondary Image" class="secondary-image">
  <div class="text-content">
    <h2>{{ sectionTitle }}</h2>
    <p>{{ secondaryText }}</p>
    <button>{{ buttonText2 }}</button>
  </div>
</div>
